<div id="<%= dom_id event %>">
  <p>
    <strong>Nome:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= event.schedule %>
  </p>

  <p>
    <strong>Localização:</strong>
    <%= event.location %>
  </p>

  <p>
    <strong>Descrição:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Organizador:</strong>
    <%= event.user.email %>
  </p>

</div>
