<p style="color: green"><%= notice %></p>

<%= render @event %>

<div>
  <% if @event.manager?(current_user) %>
    <%= link_to "Edit this event", edit_event_path(@event) %> |
  <% end %>
  <%= link_to "Back to events", events_path %>

  <br><br>

  <% if @event.manager?(current_user) %>
    <%= button_to "Destroy this event", @event, method: :delete %>
    <br>
  <% end %>

  <% if @subscription %>
    <%= button_to "Unsubscribe", subscription_path(id: @subscription.id), method: :delete %>
  <% else %>
    <%= button_to "Subscribe", subscriptions_path(subscription: { user_id: current_user.id, event_id: @event.id }), method: :post %>
  <% end %>
</div>

<hr>

<div>
  <h3>Subscribed users</h3>
  <% @event.subscriptions.each do |subscription| %>
    <li>
      <%= subscription.user.email %>
    </li>
  <% end %>
</div>
