<p style="color: green"><%= notice %></p>

<%= render @event %>

<div>
  <%= link_to "Edit this event", edit_event_path(@event) %> |
  <%= link_to "Back to events", events_path %>

  <%= button_to "Destroy this event", @event, method: :delete %>

  <%= button_to "Subscribe", subscriptions_path(subscription: { user_id: current_user.id, event_id: @event.id }), method: :post %>

  <% subscription = @event.find_subscription(current_user) %>
  <% if subscription %>
    <%= button_to "Unsubscribe", subscription_path(id: subscription.id), method: :delete %>
  <% end %>
</div>
