<p style="color: green"><%= notice %></p>

<%= render @event %>

<div>
  <% if @event.manager?(current_user) %>
    <%= link_to "Editar esse evento", edit_event_path(@event) %> |
  <% end %>
  <%= link_to "Voltar", events_path %>

  <br><br>

  <% if @event.manager?(current_user) %>
    <%= button_to "Deletar esse evento", @event, method: :delete %>
    <br>
  <% end %>

  <% unless @subscription %>
    <%= button_to "Inscrever-se", subscriptions_path(
      subscription: { user_id: current_user.id, event_id: @event.id }
    ), method: :post %>
  <% end %>

  <% if @subscription %>
    <%= button_to "Cancelar inscrição", subscription_path(id: @subscription.id), method: :delete %>
  <% end %>
</div>

<hr>

<div>
  <h3>Usuários inscritos:</h3>
  <% @event.subscriptions.each do |subscription| %>
    <li>
      <%= subscription.user.email %>
    </li>
  <% end %>
</div>
