<!DOCTYPE html>
<html>
  <head>
    <title>GestãoDeEventos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if current_user %>
      <p>Usuário logado: <%= current_user.email %></p>
    <% end %>
    <%= link_to 'TodosEventos', root_path %>
    <%= link_to 'MeusEventos', events_path(my_events: true) %>
    <%= link_to 'EventosInscritos', events_path(subscribed: true) %>
    |
    <% if current_user %>
      <%= link_to 'Sair', destroy_user_session_path %>
    <% else %>
      <%= link_to 'Entrar', new_user_session_path %>
      <%= link_to 'Cadastrar-se', new_user_registration_path %>
    <% end %>
    <hr>

    <%= yield %>
  </body>
</html>
